[submodule "thirdparty/dawn"]
	path = thirdparty/dawn
	url = https://github.com/google/dawn
[submodule "thirdparty/SPIRV-Reflect"]
	path = thirdparty/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
